@media all and (max-width: 1170px){
    .container {
        width: 95%;
    }
}

@media all and (max-width: 1024px){
   
    
    .home{
        padding: 80px 0;
        .button{
            margin-bottom: 50px;
        }
        h1{
            font-size: 50px;
            margin-bottom: 50px;
        }
    }
    .about-us{
        padding: 80px 0;
        .information{
            padding: 50px 30px;
            h2{
                font-size: 30px;
                margin-bottom: 20px;
            }
            &::after{
                display: none;
            }
        }
        .backgraund{
            min-height: 500px;
        }
    }
    .our-focus{
        padding: 80px 0;
        h2{
            font-size: 30px;
            margin-bottom: 30px;
        }
        p{
           margin-bottom: 40px; 
        }
        ul li{
            padding: 30px 15px 30px;
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .portfolio{
        padding: 80px 0;

        h2{
            font-size: 30px;
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 40px; 
        }
        .portfolio-box{
            grid-row-gap: 10px;
            grid-column-gap: 10px;
        }
    }
    .our-team{
        padding: 80px 0;
        h2{
            font-size: 30px;
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 40px;
        }
    }
    .content-nav-tab.active::after{
        left: 0;
    }
    .content-tab{
        padding: 40px;
    }
    .content-tab-titl p {
        margin-bottom: 0;
    }

    .stats{
        padding: 50px 0;
    }

    .worc-steps{
        padding: 80px 0;
        h2{
            font-size: 30px;
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 70px;
        }
        .item {
            padding: 30px;
            max-width: 350px;
            width: 100%;
        }
    }
    .pricing{
        padding: 80px 0;
        h2{
            font-size: 30px;
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 40px;
        }
        .table-pricing{
            max-width: 300px;
        }
    }
    .testimonials{
        padding: 80px 0;
        h2{
            font-size: 30px;
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 40px;
            
        }
        .slider__text{
            padding: 30px 20px;
            p:first-child{
                margin-bottom: 20px;
                span{
                    bottom: -80px;
                }
            }
            p:nth-of-type(2){
                font-size: 20px;
                margin-bottom: 20px;
            }
            h3{
                font-size: 16px;
            }
        }

    }
    .select-us{
        padding: 80px 0;
        h2{
            font-size: 30px;
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 40px;
        }
        .box1, .box2, .box3, .box4, .box5, .box6 {
            margin-bottom: 50px;
        }
    }
    .our-blog{
        padding: 80px 0;
        h2{
            font-size: 30px;
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 40px;
        }
    }
    .contact {
        padding: 80px 0;
        h2{
            font-size: 30px;
            margin-bottom: 30px;
        }
        p{
        margin-bottom: 40px;
        }
    }
    .serch-form{
        padding-bottom: 50px;
        .form-message{
            height: 150px;
        }
    }

    .our-focus, .about-us, .portfolio, .our-team,  .worc-steps, .pricing, .testimonials, .select-us,.our-blog, .contact{
        &::after{
            display: none;
        }
    } 

}


@media all and (max-width: 845px){

    header .menu-dekstop {
        display: none;
      }
    header .menu-mob {
        display: block;
      }
    header{
        height: 50px;
    }

    .about-us{
        padding: 80px 0;
        .information{
            padding: 50px 30px;
            flex-basis: 500px;
            box-shadow: none;
            background-color: transparent;
            border: none;
            &::after{
                display: none;
            }
            h2{
                font-size: 30px;
                margin-bottom: 20px;
            }
        }
    }
   

    .portfolio {
        .portfolio-item{
            img{
            width: 30px;
            height: 30px;
            transform: translate(0%, -50%);
            }
            .title{
                height: 30px;
                p{
                    font-size: 12px;
                }
            }
        }
        .portfolio-box{
            grid-template-rows: repeat(4, 40vw); 
            grid-row-gap: 5px;
            grid-column-gap: 5px; 
        }
       
    }
    
    .content-tab{
        padding: 25px;
        h3{
            margin-bottom: 20px;
        }
    }
    .content-tab-titl{
        flex-wrap: wrap;
        p{
            margin-bottom: 15px;
        }
        .icon{
            display: none;
        }
        .social{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            a{
                margin-right: 15px;
            }
        }
    }
    .stats ul li {
        h3{
            font-size: 15px;
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 20px;
        }
        img{
            margin-bottom: 20px;
        }
    }
    .select-us{
        .box-comtainer{
            grid-column-gap: 15px;
        }
        .box{
            padding: 0 15px;
            margin-bottom: 25px;
            h3{
                margin-bottom: 15px;
            }
        }
    }

    .our-blog .blog{
        padding: 20px 15px;
    }

   
}
@media all and (max-width: 768px){
    .our-blog {
            
        .blog-container{
            grid-column-gap: 15px;
            grid-row-gap: 15px;
        }
        .blog-picture{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        }

        .blog1{
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            h3{
                line-height: 1.2;
                font-size: 15px;
                margin-bottom: 20px;
            }
            p{
                line-height: 1.6;
            }
        }
        .blog2{
            grid-column: 1 / 3;
            grid-row: 3 / 4;
            margin: 0;
        }
        .blog3{
            grid-column: 1 / 3;
            grid-row: 4 / 5;
            margin: 0;
        }  
        .blog4{
            grid-column: 1 / 3;
            grid-row: 5 / 6;     
        }  
    }
    footer{
        padding: 30px 0;
        flex-direction: column;
        align-items: flex-start;
        .logo{
            margin: 0 0 15px 20px;
        }
        .address1{
            max-width: 90%;
            width: 100%;
            margin: 0 0 20px 20px;
            h3{
                margin-bottom: 7px;
            }
        }
        .address2{
            max-width: 90%;
            width: 100%;
            margin: 0 0 20px 20px;
            h3{
                margin-bottom: 7px;
            } 
        }
        .social-icon{
            max-width: 90%;
            width: 100%;
            margin-left: 20px;
            h3{
                margin-bottom: 7px;
            }  
        }
    }
    .our-focus{
        
        ul{
            flex-wrap: wrap;
            justify-content: space-around;
            li{
                flex-basis: 50%;
                margin: 0 0 15px 0;
            }
        }        

    }
}
@media all and (max-width: 660px){
    
    .home{
        h1{
            font-size: 40px;
            padding: 0 50px;
            margin-bottom: 40px;
        }
    }    
    .home, .our-focus, .about-us, .portfolio, .our-team,  .worc-steps, .pricing, .testimonials, .select-us,.our-blog, .contact {
        padding: 50px 0;
    }
    
    .tabs{
        margin-bottom: 20px;
        img{
            border-radius: 50%;
        }
       
    }
    .content-nav-tab{
        max-width: 130px;
        width: 100%;
        box-shadow: none;
        background-color: transparent;
        border-radius: 50%;
        border: none;
        .images-1{
            border-radius: 50%;
            &::after{
                border-radius: 50%;
            }
        }
        .images-2{
            border-radius: 50%;
            &::after{
                border-radius: 50%;
            }
        }
        .images-3{
            border-radius: 50%;
            &::after{
                border-radius: 50%;
            }
        }
        .images-4{
            border-radius: 50%;
            &::after{
                border-radius: 50%;
            }
        }
        &:first-child {
            border-bottom: none;
            h3{
                display: none;
            } 
            p{
                display: none;
            } 
            
        }
        &:nth-child(2){
            border-bottom: none;

            h3{
                display: none;
            }
            p{
                display: none;
            }
    
        }
        &:nth-child(3) {
            border-bottom: none;

            h3{
                display: none;
            }
            p{
                display: none;
            }
        }
        &:last-child{
            border-bottom: none; 
            h3{
                display: none;
            }
            p{
                display: none;
            } 
        }
    }
    .content-nav-tab.active::after{
        display: none;
    }
    .serch-form{
        .form-title{
            padding: 15px 0;
        }
    }
    .select-us {
        .box-comtainer{
            grid-template-columns: repeat(2, 1fr);
        }
        .box-button p{
            font-size: 20px;
        }
    }
    .video .btn-play-main::after{
        font-size: 20px;
    }
    .testimonials{
        .slider__icon{
            max-width: 150px;
            min-height: 150px;
            border-radius: 50%;
            outline: none;
        } 
        .slider__text{
            padding: 15px 10px;
            p:first-child{
                font-size: 13px;
                margin-bottom: 10px;
            }

        }

    }
    .worc-steps{
        .content-1, .content-2, .content-3, .content-4{
            background: none;
        }
        p{
            margin-bottom: 70px;
        }
        .item {
            
            h3{
                font-size: 20px;
                margin-bottom: 15px;
            }
        }
    }
}
@media all and (max-width: 450px){
    h1 {
        padding: 0 20px;
    }
    .home{
        
        ul{
            flex-direction: column;
            li{
                margin-bottom: 20px;
                img{
                    margin-bottom: 10px;
                }
            }
        }
    }
    .about-us {
        .container{
            background: none;
        }
        .information{
            margin: 0;
            padding: 20px 10px 30px 30px;
            h2{
                margin-bottom: 15px;
            }
        }
    }
    .our-focus{
        
        ul{
            justify-content: center;
            li{
                flex-basis: 100%;
                img{
                    margin-bottom: 20px;
                }
                h3{
                    margin-bottom: 20px;
                }
            }
        }        

    }
    .stats ul{
        flex-wrap: wrap;
        li{
            flex-basis: 50%;
            margin-bottom: 30px;
            &:last-child, &:nth-of-type(3){
                margin-bottom: 0;
            }
            img{
                margin-bottom: 10px;
            }
            h3{
                margin-bottom: 10px;
            }
            p{
                margin-bottom: 10px;
            }
        }
    }
    .select-us{
        .box-comtainer{
            grid-template-columns: repeat(1, 1fr);
        }
        .box-button{
            justify-content: flex-start;
            p{
                margin: 0 20px 0 0;
                text-align: left;
            }
            a{
                font-size: 13px;
            }
        }
    }
    .our-blog{
        .blog-picture{
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            min-height: 195px;
            height: 100%;
            }
    
            .blog1{
                grid-column: 1 / 3;
                grid-row: 2 / 3;
            }
            .blog2{
                grid-column: 1 / 3;
                grid-row: 3 / 4;
            }
            .blog3{
                grid-column: 1 / 3;
                grid-row: 4 / 5;
            }  
            .blog4{
                grid-column: 1 / 3;
                grid-row: 5 / 6;     
            }  
    }
    .serch-form{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px;
      
        .form-name{
            grid-column: 1;
            grid-row: 1 / 2;
        }
        .form-email{
            grid-column: 1;
            grid-row: 2 / 3;    
        }
        .form-subject{
            grid-column: 1;
            grid-row: 3 / 4;   
        }
    
        .form-project{
            grid-column: 1;
            grid-row: 4 / 5;      
        } 
        .form-message{
            grid-column: 1;
            grid-row: 5 / 6;
            height: 100%; 
            height: 100px;
            margin-bottom: 0;
        }
        .form-button{
            grid-column: 1;
            grid-row: 6 / 7;
        }
    }
    .testimonials{
        .slider__icon{
            display: none;
        }
        .slider__text{
            p:first-child{
                font-size: 15px;
            }
        }
    }
}
@media all and (max-width: 1000px){
    .pricing{
        .pricing-slider{
            max-width: 300px;
            margin: 0 auto;
        }
    }    
}


